extends layout

block content
  h1#title node.js multi-client chat

  div#id_div Nickname 
    input#user_id(type='text')

  div#history
    ul#old_msgs
  
  input#new_msg(type='text')
  
  div#send
    button(id='send_btn') Send
